:root {
    --basic-white: #FFFFFF;
    --basic-dark: #323232;
    --basic-gray: #5A5A5A;
    --basic-beige: #F8F7F4;
    --basic-light-orange: #D07058;
    --basic-pistachio: #849D8F;
    --basic-gray-blue: #8996A6;
    --basic-light-brown: #9D8B84;
    --special-orange: #E84D37;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-pistachio);
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    position: relative;
    z-index: 100;
}

.main {
    position: relative;
    z-index: 90;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.site-wrapper {
    color: var(--basic-white);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--basic-pistachio);
    transition-duration: 1s;
}

.site-wrapper-catalog {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-position: top center;
    background-repeat: no-repeat;
    height: 656px;
}

.site-wrapper-1 {
    background-color: var(--basic-pistachio);
    background-image: url("../img/two_ice_cream.png");
}

.site-wrapper-2 {
    background-color: var(--basic-gray-blue);
    background-image: url("../img/two_ice_cream2.png");
}

.site-wrapper-3 {
    background-color: var(--basic-light-brown);
    background-image: url("../img/two_ice_cream3.png");
}

.container {
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 20;
}

.logo-Gllacy {
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.logo-Gllacy:focus {
    outline: 1px solid rgb(255, 255, 255, 0.2);
}

.site-navigation {
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    flex-wrap: wrap;
}

.site-navigation-item {
    margin-right: 4px;
}

.site-navigation .catalog-menu {
    text-decoration: underline;
}

.catalog {
    position: relative;
}

.catalog-menu {
    padding: 6px 14px 8px;
    border-radius: 26px;
}

.catalog-active .catalog-menu {
    background: #D07058;
    border-radius: 26px;
    padding: 6px 16px 8px;
    text-decoration: none;
}

.catalog-menu:hover, .catalog-menu:focus, .shipping-and-payment:hover, .shipping-and-payment:focus, .about-company-menu:hover, .about-company-menu:focus {
    background-color: var(--basic-white);
    color: var(--basic-dark);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
}

.catalog-menu:active, .shipping-and-payment:active, .about-company-menu:active {
    background-color: #EDEDED;
    color: var(--basic-dark);
    text-decoration: none;
    border-radius: 26px;
    padding: 6px 14px 8px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    box-shadow: inset 0px 2px 1px #696969;
}

.dropdown-menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color: var(--basic-beige);
    color: var(--basic-dark);
    width: 142px;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    top: 23px;
    left: -4px;
    line-height: 20px;
}

.dropdown-menu .dropdown-menu-link {
    text-decoration: none;
}

.catalog:hover .dropdown-menu, .catalog a:focus+.dropdown-menu {
    display: block;
    outline: none;
}

.dropdown-menu li:first-child {
    padding-top: 2px;
    padding-bottom: 8px;
}

.dropdown-menu-item {
    margin: 0;
}

.dropdown-menu-link {
    display: block;
    padding: 5px 20px 6px;
}

.dropdown-menu li:first-child::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2);
    width: 128px;
    height: 0px;
    left: 5px;
    top: 35px;
}

.dropdown-menu-link:hover, .dropdown-menu-link:focus {
    background-color: #FBDED7;
    outline: none;
}

.dropdown-menu-link:active {
    background-color: #F6B5A5;
}

.dropdown-menu-item-active {
    background: #D07058;
}

.search {
    display: none;
    color: var(--basic-dark);
    background-color: var(--basic-beige);
    position: absolute;
    left: -299px;
    width: 341px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 14px;
    list-style: none;
    flex-wrap: wrap;
}

.user-navigation-item {
    padding-left: 10px;
}

.search-block {
    position: relative;
}

.search-block:hover .search, .search-button:focus+.search {
    display: block;
    outline: none;
}

.search-input {
    width: 311px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
    margin: 18px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #323232;
}

.search-input:hover {
    border: 2px solid rgba(178, 178, 178, 0.52);
    padding: 14px;
    margin: 17px 14px;
}

.search-input:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    padding: 14px;
    margin: 17px 14px;
    outline: none;
}

.user-navigation ::-webkit-input-placeholder {
    color: #999999;
    /* Chrome, Safari, Opera */
    font-weight: normal;
    font-size: 14px;
}

.user-navigation ::-moz-placeholder {
    color: #999999;
    /* Firefox */
    font-weight: normal;
    font-size: 14px;
}

.search-block:hover .search-button, .search-button:focus {
    background-color: var(--basic-white);
    background-image: url(../img/icons_logo/loupe-black.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: none;
}

.search-button {
    width: 32px;
    height: 32px;
    background-image: url(../img/icons_logo/loupe.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
}

.input-button {
    width: 92px;
    height: 32px;
    background-image: url(../img/icons_logo/entrance-white.svg);
    background-repeat: no-repeat;
    background-position: 16px 6px;
    padding-left: 34px;
    padding-top: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;
}

.input-block {
    position: relative;
}

.input-block:hover .input-button, .input-button:focus {
    background-color: var(--basic-white);
    background-image: url(../img/icons_logo/entrance.svg);
    background-repeat: no-repeat;
    background-position: 16px 6px;
    color: #323232;
    outline: none;
}

.user-input {
    position: absolute;
    display: none;
    color: var(--basic-dark);
    background-color: var(--basic-beige);
    width: 277px;
    height: 214px;
    left: -175px;
    top: 36px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: var(--basic-white);
    margin: 0;
    padding: 0;
}

.input-block:hover .user-input, .input-button:focus+.user-input {
    display: block;
    outline: none;
}

.user-input fieldset {
    border: none;
    padding: 0;
    margin: 0;
    background: #F8F7F4;
    border-radius: 4px;
}

.email-input input, .password-input input {
    display: block;
    width: 242px;
    height: 44px;
    padding: 0;
    padding-left: 14px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    background: #FFFFFF;
    border: 1px solid #D3D3D2;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #323232;
}

.email-input input:hover, .password-input input:hover {
    border: 2px solid rgba(178, 178, 178, 0.52);
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 13px;
}

.email-input input:focus, .password-input input:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 13px;
    outline: none;
}

.password-input input:hover, .password-input+input:focus {
    margin-top: 20px;
}

.button-login-options {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.input-form-button {
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
    border: none;
    color: var(--basic-white);
    padding: 12px 26px;
    margin-top: 20px;
    margin-left: 19px;
    cursor: pointer;
}

.login-options {
    text-decoration: underline;
    font-size: 13px;
    color: #323232;
    padding-left: 20px;
    padding-top: 20px;
}

.busket-button {
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    padding-left: 35px;
    padding-top: 2px;
    background-image: url(../img/icons_logo/basket.svg);
    background-repeat: no-repeat;
    background-position: 16px 6px;
    border: none;
    cursor: pointer;
}

.busket-button-fill {
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    min-width: 118px;
    padding-left: 31px;
    padding-top: 3px;
    background-color: #FFFFFF;
    background-image: url(../img/icons_logo/basket-red.svg);
    color: #323232;
    background-repeat: no-repeat;
    background-position: 16px 6px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.basket-block {
    position: relative;
}

.basket-form {
    display: none;
    position: absolute;
    width: 504px;
    top: 37px;
    left: -411px;
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    font-weight: normal;
    font-size: 13px;
    color: #323232;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 21px;
    padding-right: 15px;
    line-height: 16px;
}

.basket-block:hover .basket-form, .busket-button-fill:focus+.basket-form {
    display: block;
    outline: none;
}

.busket-button:focus {
    outline: 1px solid rgb(255, 255, 255, 0.2);
}

.basket-form table {
    border-spacing: 0;
    margin: 0;
    border-bottom: 1px solid #CACAC7;
    min-height: 119px;
}

.product {
    text-align: left;
}

.product {
    min-width: 20px;
    max-width: 279px;
    padding: 0;
    margin: 0;
    vertical-align: center;
}

.col-1 {
    width: 21px;
}

.col-2 {
    width: 53px;
}

.col-3 {
    width: 277px;
}

.col-4 {
    width: 50px;
}

.col-5 {
    width: 84px;
}

.col-6 {
    width: 77px;
}

.user-navigation-button {
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.checkout {
    display: grid;
    justify-content: end;
    margin: 0;
    padding: 0;
}

.total-price {
    font-weight: bold;
    font-size: 15px;
    color: #323232;
    margin: 0;
    margin-left: 62px;
    margin-top: 16px;
}

.button-checkout {
    display: inline-block;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 21px;
    padding: 12px 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
    border: none;
    cursor: pointer;
}

.header-shedule-phone {
    display: grid;
    justify-content: end;
    margin-top: 10px;
    margin-top: -3px;
}

.phone-top {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    margin-top: 8px;
}

.phone-top:focus {
    outline: 1px solid rgb(255, 255, 255, 0.2);
}

.schedule {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-left: 18px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -27px;
    z-index: 10;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 23px;
    text-decoration: underline;
}

.breadcrumbs-item-other::before {
    content: "";
    position: absolute;
    background-image: url(../img/icons_logo/breadcrumbs.svg);
    width: 6px;
    height: 6px;
    left: -19px;
    left: -15px;
    top: 8px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
    text-decoration: none;
}

.filters-header {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.filters {
    display: flex;
    width: 884px;
    justify-content: space-between;
    margin: 0;
    margin-top: 33px;
    padding: 0;
    flex-wrap: wrap;
}

.filters-block {
    margin-bottom: 30px;
}

.filters-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 10px;
}

.sort-filter {
    display: block;
    width: 196px;
    padding: 0;
    flex-grow: 1;
}

.sort-label {
    margin-left: 16px;
}

.select-sort {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    color: var(--basic-white);
    margin-top: 3px;
    padding: 7px 36px 7px 15px;
    background: url(../img/icons_logo/icon-down-dir-white.svg) no-repeat right center rgba(255, 255, 255, 0.2);
    background-position: 170px 13px;
    outline: none;
    border: none;
}

.select-sort:hover {
    background-image: url(../img/icons_logo/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: 170px 13px;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--basic-dark);
    cursor: pointer;
}

.sort-list {
    display: none;
    position: absolute;
    margin-block-start: -1px;
    margin-inline-start: -1px;
    padding-inline-start: 0;
    list-style-type: none;
    background-color: #FFFFFF;
    z-index: 10;
}

.sort-list-opened .sort-list {
    display: block;
}

.sort-item-link {
    display: block;
    height: 22px;
    padding-inline-start: 19px;
    padding-inline-end: 50px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #323232;
    border: none;
    outline: none;
}

li.sort-item a.sort-item-link:hover {
    background-color: rgba(30, 144, 255, 1);
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.price-filter {
    min-width: 218px;
    display: block;
    padding: 0;
    flex-grow: 1;
}

.price-header {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 2px;
}

.range-controls {
    position: relative;
    display: block;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding-top: 17px;
    padding-right: 21px;
    padding-left: 21px;
}

.range-controls .scale {
    height: 2px;
    background-color: rgba(248, 247, 244, 0.5);
}

.bar {
    margin-left: 19px;
    width: 60%;
    height: 2px;
    background-color: #F8F7F4;
}

.range-controls .toggle {
    position: absolute;
    top: 8px;
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: #ABABAB;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle:hover, .toggle:focus {
    top: 6px;
    border: 10px solid;
    outline: none;
}

.range-controls .toggle-min {
    left: 34px;
}

.range-controls .toggle-max {
    left: 132px;
}

.range-controls .toggle-min:hover {
    left: 32px;
}

.range-controls .toggle-max:hover {
    left: 130px;
}

.fat-content-filter {
    min-width: 425px;
    flex-grow: 2;
}

.fat-content-header {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 2px;
}

.fat-content-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-right: 9px;
    padding-left: 5px;
    margin: 0;
}

.fat-content-item {
    position: relative;
    display: flex;
    justify-content: start;
}

.fat-content-radio {
    position: relative;
    padding-left: 34px;
}

.fat-content-radio::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    margin-right: 11px;
    cursor: pointer;
}

.fat-content-input:checked+.fat-content-radio::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 11px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.fat-content-radio:hover::before {
    border-color: rgba(255, 255, 255, 1);
}

.fat-content-input:checked+.fat-content-radio:hover::after {
    background: rgba(255, 255, 255, 1);
}

.fat-content-input:focus+.fat-content-radio::before {
    border-color: rgba(255, 255, 255, 1);
}

.fat-content-input:checked:focus+.fat-content-radio::after {
    background: rgba(255, 255, 255, 1);
}

.fat-content-radio:disabled::before {
    color: rgba(255, 255, 255, 0.4);
}

.fat-content-input:checked+.fat-content-radio:disabled::after {
    color: rgba(255, 255, 255, 0.4);
}

.filling-filter {
    min-width: 711px;
}

.filling-filter-header {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
}

.filling-filter-list {
    display: flex;
    min-width: 668px;
    justify-content: space-between;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 22px;
    margin: 0;
    margin-top: 5px;
}

.filling-filter-item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-left: 26px;
    padding: 0;
}

.filling-filter-list li:nth-child(2) {
    margin-left: 24px;
}

.filling-filter-desc {
    position: relative;
}

.filling-filter-desc::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 16px;
    left: -32px;
    top: 0px;
    border: solid 2px rgba(255, 255, 255, 1);
    border-radius: 3px;
    cursor: pointer;
    filter: opacity(80%);
}

.filling-filter-input:checked+.filling-filter-desc::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 20px;
    background-image: url(../img/icons_logo/checkbox-on.svg);
    background-repeat: no-repeat;
    filter: opacity(80%);
    left: -32px;
    top: 0px;
    cursor: pointer;
    border: none;
}

.filling-filter-desc:hover::before, .filling-filter-input:checked+.filling-filter-desc:hover::before, .filling-filter-input:focus+.filling-filter-desc::before, .filling-filter-input:checked:focus+.filling-filter-desc::before {
    filter: opacity(100%);
}

.filling-filter-desc:disabled::before, .filling-filter-input:checked+.filling-filter-desc:disabled::before {
    filter: opacity(40%);
}

.button-filter {
    display: block;
    min-width: 144px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    margin-top: 27px;
    margin-right: 14px;
    cursor: pointer;
}

.button-filter:hover, .button-filter:focus {
    background: #FFFFFF;
    color: #323232;
    outline: none;
}

.button-filter:active {
    background: #FFFFFF;
    color: #323232;
    box-shadow: inset 0px 2px 1px #696969;
    border: none;
    border-radius: 20px;
    outline: none;
}

.slider-block {
    position: relative;
    padding-top: 275px;
    margin-bottom: 38px;
    text-align: center;
    color: var(--basic-white);
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider {
    display: none;
}

.slider-item {
    animation-name: opacity;
    animation-duration: 1s;
}

.slider-current {
    display: block;
}

.slider-title {
    width: 672px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic-white);
    margin: 0 auto;
    margin-bottom: 26px;
}

.button-slider {
    display: inline-block;
    padding: 9px 41px 10px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    border: none;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
    outline: none;
}

.button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
}

.toggle-list {
    position: absolute;
    bottom: 24px;
    left: -1px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.toggle-list button {
    padding: 0;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-list button:hover, .toggle-list button:focus {
    background: rgba(255, 255, 255, 0.4);
    outline: none;
}

.toggle-list .current {
    background-color: #ffffff;
}

.gratis-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 33px
}

.gratis-item {
    width: 560px;
    border-radius: 16px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding-top: 26px;
    padding-bottom: 18px;
    margin-bottom: 7px;
}

.gratis-raspberry {
    background-image: url(../img/bgraspberry.jpg);
}

.gratis-choco {
    background-image: url(../img/bgchoco.jpg);
}

.gratis-title {
    padding: 0 16px 0 16px;
    margin: 0;
    margin-bottom: 26px;
    font-size: 35px;
}

.gratis-desc {
    padding: 0 16px 0 16px;
    margin: 0;
    margin-bottom: 43px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}

.gratis-link-block {
    padding: 0 22px;
    text-align: right;
}

.gratis-link {
    display: inline-block;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    padding: 13px 20px;
    margin-bottom: 4px;
    font-size: 19px;
    color: white;
    vertical-align: middle;
}

.main-catalog {
    margin-top: 30px;
}

.catalog-list {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 26px);
}

.catalog-item {
    position: relative;
    width: 267px;
    margin-right: 26px;
    margin-bottom: 36px;
    z-index: 10;
}

.catalog-item:hover {
    z-index: 100;
}

.catalog-image {
    border-radius: 150px;
    background-size: cover;
}

.catalog-item:hover .catalog-content::before {
    content: "";
    width: 100%;
    height: calc(100% + 79px);
    position: absolute;
    left: -14px;
    top: -5px;
    background-color: #FFFFFF;
    opacity: 0.2;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-size: 293px;
    margin: 0;
    padding: 0px 13px 0px 13px;
    z-index: -1;
}

.button-quick-view {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 12px 16px;
    background: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
    box-shadow: 0px 1px 2px #AC1000;
    border-radius: 50px;
    text-align: center;
    margin: 6px 33px;
    cursor: pointer;
    vertical-align: middle;
}

.catalog-item:hover .button-quick-view {
    display: inline-block;
    vertical-align: top;
}

.button-quick-view:hover.button-quick-view, .button-quick-view:focus.button-quick-view {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
    outline: none;
}

.button-quick-view:active.button-quick-view {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
}

.catalog-hits .catalog-item::before {
    position: absolute;
    width: 61px;
    height: 61px;
    content: "";
    background-image: url(../img/icons_logo/hit.svg);
    background-repeat: no-repeat;
}

.catalog-item-title {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 7px;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    -moz-text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-title:hover, .catalog-item-title:active, .catalog-content:focus {
    color: #FFBC9E;
    text-decoration-color: rgba(255, 188, 158, 0.3);
    -moz-text-decoration-color: rgba(255, 188, 158, 0.3);
    outline: none;
}

.catalog-item-price {
    position: absolute;
    top: 221px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: var(--basic-white);
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .price-kilograms {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: var(--basic-white);
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.info {
    margin-top: 4px;
}

.info-block {
    background-color: var(--basic-beige);
    background-image: url(../img/wafer2.jpg);
    background-repeat: repeat;
    background-position: 50% 50%;
    color: var(--basic-dark);
    border-radius: 16px;
    margin-bottom: 40px;
    padding-bottom: 22px;
}

.info-list {
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 131px;
    margin: 0;
}

.info-item {
    width: 485px;
    padding-top: 16px;
    padding-left: 75px;
    padding-right: 6px;
    padding-bottom: 7px;
    position: relative;
    align-items: center;
    margin: 0;
}

.info-thermo {
    padding-bottom: 30px;
}

.info-ice-cream::before {
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    top: 7px;
    left: 20px;
    background-image: url(../img/icons_logo/ice-cream.svg);
    background-repeat: no-repeat;
}

.info-eco::before {
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    top: 5px;
    left: 20px;
    background-image: url(../img/icons_logo/eco.svg);
    background-repeat: no-repeat;
}

.info-cow::before {
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    top: 7px;
    left: 20px;
    background-image: url(../img/icons_logo/cow.svg);
    background-repeat: no-repeat;
}

.info-thermo::before {
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    top: 6px;
    left: 20px;
    background-image: url(../img/icons_logo/thermometer.svg);
    background-repeat: no-repeat;
}

.news-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news {
    width: 281px;
    background-color: var(--basic-white);
    background-image: url(../img/news.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto 100%;
    color: var(--basic-dark);
    padding-left: 20px;
    padding-right: 259px;
    border-radius: 16px;
}

.news-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    padding-top: 18px;
    margin: 0;
}

.news-preview {
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.news-preview:hover, .news-preview:active, .news-preview:focus {
    color: #E84D37;
    outline: none;
}

.subscription {
    width: 550px;
    background-color: var(--basic-beige);
    background: url(../img/border-mailing.png) repeat top left;
    border-radius: 16px;
    padding: 5px;
}

.subscription-block {
    background-color: var(--basic-beige);
    border-radius: 18px;
    /* 
    padding-bottom: 34px; */
    height: 100%;
}

.subscription-block-form {
    padding-bottom: 34px;
}

.subscription-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: var(--basic-gray);
    padding-top: 24px;
    padding-left: 21px;
    padding-right: 12px;
    margin: 0;
}

.subscription-field {
    display: inline-block;
    vertical-align: baseline;
}

.subscription-field-input {
    display: inline-block;
    vertical-align: baseline;
    width: 342px;
    margin-left: 22px;
    margin-top: 42px;
    padding: 11px;
    padding-right: 13px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #323232;
    background: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 6px;
}

.subscription-field-input:hover {
    border: 2px solid rgba(178, 178, 178, 0.52);
    margin-top: 41px;
    margin-left: 21px;
    padding-right: 12px;
}

.subscription-field-input:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    margin-top: 41px;
    margin-left: 21px;
    padding-right: 12px;
    outline: none;
}

.subscription-field ::-webkit-input-placeholder {
    color: #999999;
    /* Chrome, Safari, Opera */
    font-weight: normal;
    font-size: 16px;
}

.subscription-field ::-moz-placeholder {
    color: #999999;
    /* Firefox */
    font-weight: normal;
    font-size: 16px;
}

.button-subscribe {
    display: inline-block;
    vertical-align: baseline;
}

.button-subscribe button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    padding: 13px 21px;
    margin-left: 4px;
    font-size: 18px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.address-map {
    position: relative;
    width: 100%;
    margin-top: 41px;
    padding-top: 103px;
    padding-bottom: 65px;
    min-height: 260px;
}

.map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.map {
    width: 100%;
    height: 100%;
}

.address {
    position: relative;
    width: 253px;
    background: #FEFEFE;
    border-radius: 16px;
    color: var(--basic-dark);
    margin: 0 15px -44px;
    padding: 16px 25px;
    padding-bottom: 29px;
    left: calc(50% + 255px);
    top: -42px;
}

.address::before {
    content: "";
    position: absolute;
    left: -604px;
    top: 75px;
    width: 80px;
    height: 140px;
    background-image: url(../img/icons_logo/pin.svg);
    background-repeat: no-repeat;
}

.address-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 95px;
    margin-top: 14px;
}

.address-desc {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    margin-top: -1px;
}

.address-tel {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-right: 80px;
}

.address-tel a:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.address-tel a {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
}

.button-feedback {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    padding: 12px 21px;
    margin-top: 26px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    font-family: inherit;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    align-items: center;
    width: 254px;
    cursor: pointer;
}

.page-catalog {
    margin: 0;
    padding: 0;
    margin-top: 43px;
    margin-right: 20px;
}

.page-catalog-list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-catalog-item {
    margin-right: 5px;
    text-align: center;
    border-radius: 50%;
    padding: 3px 8px;
}

.page-catalog-item:hover, .page-catalog-item:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}

.page-catalog-current {
    color: #323232;
    background: #FFFFFF;
    font-style: normal;
}

.page-catalog-list::before {
    width: 7px;
    height: 12px;
    content: "";
    position: absolute;
    background-image: url(../img/icons_logo/icon-left-small.svg);
    top: 5px;
    right: 166px;
}

.page-catalog-list::after {
    width: 7px;
    height: 12px;
    content: "";
    position: absolute;
    background-image: url(../img/icons_logo/icon-right-small.svg);
    top: 5px;
    right: -20px;
}

.feedback-modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 300;
}

.feedback-form {
    position: fixed;
    top: 35%;
    right: 0;
    bottom: auto;
    left: 0;
    margin: 0 auto;
    width: 477px;
    min-height: 441px;
    border-radius: 6px;
    z-index: 200;
    background: #F8F7F4;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.feedback-form-header {
    margin: 0;
    margin-top: 18px;
    margin-left: 23px;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    color: #323232;
}

.feedback-block {
    margin: 0;
    padding: 0;
    border: none;
}

.feedback-field input, textarea {
    background-color: #FFFFFF;
    border: 1px solid rgba(178, 178, 178, 0.52);
    box-sizing: border-box;
    border-radius: 4px;
    color: #323232;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    margin: 0;
    margin-left: 24px;
    margin-top: 20px;
}

.feedback-field input {
    width: 267px;
}

.feedback-name input {
    margin-top: 23px;
}

.feedback-desc textarea {
    width: 428px;
    height: 154px;
    resize: none;
}

.feedback-form ::-webkit-input-placeholder {
    color: #999999;
    /* Chrome, Safari, Opera */
    font-weight: normal;
    font-size: 16px;
}

.feedback-form ::-moz-placeholder {
    color: #999999;
    /* Firefox */
    font-weight: normal;
    font-size: 16px;
}

.feedback-email input:hover, .feedback-desc textarea:hover {
    border: 2px solid rgba(178, 178, 178, 0.52);
    margin-left: 24px;
    margin-top: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 13px;
}

.feedback-name input:hover {
    border: 2px solid rgba(178, 178, 178, 0.52);
    margin-left: 24px;
    margin-top: 23px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 13px;
}

.feedback-email input:focus, .feedback-desc textarea:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    margin-left: 24px;
    margin-top: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 13px;
    outline: none;
}

.feedback-name input:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
    margin-left: 24px;
    margin-top: 23px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 13px;
    outline: none;
}

.feedback-form-button button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    padding: 13px 21px;
    margin-top: 18px;
    margin-left: 312px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    font-family: inherit;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    align-items: center;
    width: 140px;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 13px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/icons_logo/cross-big.svg);
    background-repeat: no-repeat;
    border: none;
}

.modal-close:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}

.socials {
    margin-right: 45px;
}

.socials-list {
    display: flex;
    width: 175px;
    justify-content: space-around;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 33px;
    margin-left: -3px;
}

.socials-item-link {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
}

.socials-item-link::before {
    content: "";
    width: 36px;
    height: 36px;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: top left;
}

.socials-item-fb .socials-item-link::before {
    background-image: url("../img/icons_logo/fb.svg");
}

.socials-item-vk .socials-item-link::before {
    background-image: url("../img/icons_logo/vk.svg");
}

.socials-item-ig .socials-item-link::before {
    background-image: url("../img/icons_logo/instagram.svg");
}

.socials-item-tw .socials-item-link::before {
    background-image: url("../img/icons_logo/twitter.svg");
}

.socials-item-link:hover::before, .socials-item-link:focus::before {
    opacity: 1;
    cursor: pointer;
    outline: none;
}

.socials-item-link:hover, .socials-item-link:focus {
    outline: none;
}

.about-company-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 37px;
    width: 327px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 31px;
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
    text-align: center;
}

.about-company-item {
    position: relative;
    padding-right: 32px;
    padding-top: 1px;
}

.about-company-list li:last-child {
    padding-right: 0;
    padding-left: 12px;
}

.like::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 6px;
    width: 15px;
    height: 13px;
    background-image: url(../img/icons_logo/heart.svg);
    background-repeat: no-repeat;
}

.like {
    font-weight: bold;
}

.development {
    position: relative;
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-top: 49px;
}

.development a::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -29px;
    width: 108px;
    height: 39px;
    background-image: url(../img/icons_logo/logo-htmlacademy.svg);
    background-repeat: no-repeat;
}

.development a {
    text-decoration: underline;
}

.development a:hover, .development a:active, .development-link:focus, .about-company-item a:focus, .about-company-item a:active, .about-company-item a:hover, .login-options a:hover, .login-options a:active, .login-options a:focus, .breadcrumbs-item a:hover, .breadcrumbs-item a:active, .breadcrumbs-item a:focus {
    color: #FFBC9E;
    outline: none;
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}