:root {
  --basic-beige: #f8f7f4;
  --basic-blue: rgba(46, 136, 228, 0.52);
  --basic-dark: #323232;
  --basic-gray: #5a5a5a;
  --basic-gray-blue: #8996a6;
  --basic-light-brown: #9d8b84;
  --basic-light-gray: rgba(178, 178, 178, 0.52);
  --basic-light-orange: #d07058;
  --basic-pistachio: #849d8f;
  --basic-white: #ffffff;
  --special-orange: #e84d37;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-white);

  background-color: var(--basic-pistachio);
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-header {
  position: relative;
  z-index: 100;
}

.main {
  position: relative;
  z-index: 90;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;
}

.site-wrapper {
  color: var(--basic-white);

  background-color: var(--basic-pistachio);
  background-repeat: no-repeat;
  background-position: top center;

  transition-duration: 1s;
}

.site-wrapper-catalog {
  height: 656px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--basic-pistachio);
  background-image: url("../img/two_ice_cream.png");
}

.site-wrapper-2 {
  background-color: var(--basic-gray-blue);
  background-image: url("../img/two_ice_cream2.png");
}

.site-wrapper-3 {
  background-color: var(--basic-light-brown);
  background-image: url("../img/two_ice_cream3.png");
}

.container {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.main-navigation {
  z-index: 20;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-gllacy {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.logo-gllacy:focus {
  outline: 1px solid rgb(255, 255, 255, 0.2);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 18px;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
}

.site-navigation-item {
  margin-right: 4px;
}

.site-navigation .catalog-menu {
  text-decoration: underline;
}

.catalog {
  position: relative;
}

.catalog-menu {
  padding: 6px 14px 8px;

  border-radius: 26px;
}

.catalog-active .catalog-menu {
  padding: 6px 14px 8px 15px;

  text-decoration: none;

  background: var(--basic-light-orange);
  border-radius: 26px;
}

.catalog-menu:hover,
.catalog-menu:focus,
.shipping-and-payment:hover,
.shipping-and-payment:focus,
.about-company-menu:hover,
.about-company-menu:focus {
  font-weight: bold;
  font-size: 16px;
  color: var(--basic-dark);
  text-decoration: none;

  background-color: var(--basic-white);
  border: none;
  outline: none;
}

.catalog-menu:active,
.shipping-and-payment:active,
.about-company-menu:active {
  padding: 6px 14px 8px;

  font-weight: bold;
  font-size: 16px;
  color: var(--basic-dark);
  text-decoration: none;

  background-color: #ededed;
  border: none;
  border-radius: 26px;
  box-shadow: inset 0 2px 1px #696969;
}

.dropdown-menu {
  position: absolute;
  top: 23px;
  left: -4px;

  display: none;
  width: 142px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-bottom: 5px;

  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);

  background: var(--basic-white);
  background-color: var(--basic-beige);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-menu .dropdown-menu-link {
  text-decoration: none;
}

.catalog:hover .dropdown-menu,
.catalog a:focus + .dropdown-menu {
  display: block;

  outline: none;
}

.dropdown-menu li:first-child {
  padding-top: 2px;
  padding-bottom: 8px;
}

.dropdown-menu-item {
  margin: 0;
}

.dropdown-menu-link {
  display: block;
  padding: 5px 20px 6px;
}

.dropdown-menu li:first-child::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 5px;

  width: 128px;
  height: 0;

  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.dropdown-menu-link:hover,
.dropdown-menu-link:focus {
  color: var(--basic-dark);

  background-color: #fbded7;
  outline: none;
}

.dropdown-menu-link:active {
  background-color: #f6b5a5;
}

.dropdown-menu-item-active {
  color: var(--basic-white);

  background: var(--basic-light-orange);
}

.search {
  position: absolute;
  left: -299px;

  display: none;
  width: 341px;
  margin: 0;
  padding: 0;

  color: var(--basic-dark);

  background-color: var(--basic-beige);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 254px;
  margin: 0;
  margin-top: 14px;

  list-style: none;
}

.user-navigation-item {
  padding-left: 10px;
}

.search-block {
  position: relative;
}

.search-block:hover .search,
.search-button:focus + .search {
  display: block;

  outline: none;
}

.search-input {
  box-sizing: border-box;
  width: 311px;
  margin: 18px 15px;
  padding: 14px;

  font-weight: bold;
  font-size: 14px;
  color: var(--basic-dark);

  background: var(--basic-white);
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.search-input:hover {
  margin: 17px 14px;
  padding: 14px;

  border: 2px solid var(--basic-light-gray);
}

.search-input:focus {
  margin: 17px 14px;
  padding: 14px;

  border: 2px solid var(--basic-blue);
  outline: none;
}

.user-navigation ::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  font-weight: normal;
  font-size: 14px;
  color: #999999;
}

.user-navigation ::-moz-placeholder {
  /* Firefox */
  font-weight: normal;
  font-size: 14px;
  color: #999999;
}

.search-block:hover .search-button,
.search-button:focus {
  background-color: var(--basic-white);
  background-image: url(../img/icons_logo/loupe-black.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

.search-button {
  width: 32px;
  height: 32px;

  background-image: url(../img/icons_logo/loupe.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
}

.input-button {
  width: 92px;
  height: 32px;
  padding-top: 2px;
  padding-left: 34px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-image: url(../img/icons_logo/entrance-white.svg);
  background-repeat: no-repeat;
  background-position: 16px 6px;
  border: none;
  cursor: pointer;
}

.input-block {
  position: relative;
}

.input-block:hover .input-button,
.input-button:focus {
  color: var(--basic-dark);

  background-color: var(--basic-white);
  background-image: url(../img/icons_logo/entrance.svg);
  background-repeat: no-repeat;
  background-position: 16px 6px;
  outline: none;
}

.user-input {
  position: absolute;
  top: 36px;
  left: -175px;

  display: none;
  width: 277px;
  height: 214px;
  margin: 0;
  padding: 0;

  color: var(--basic-dark);

  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.input-block:hover .user-input,
.input-button:focus + .user-input {
  display: block;

  outline: none;
}

.user-input fieldset {
  margin: 0;
  padding: 0;

  background: var(--basic-beige);
  border: none;
  border-radius: 4px;
}

.email-input input,
.password-input input {
  display: block;
  box-sizing: border-box;
  width: 242px;
  height: 44px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0;
  padding-left: 14px;

  font-weight: bold;
  font-size: 14px;
  color: var(--basic-dark);

  background: var(--basic-white);
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.email-input input:hover,
.password-input input:hover {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 13px;

  border: 2px solid var(--basic-light-gray);
}

.email-input input:focus,
.password-input input:focus {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 13px;

  border: 2px solid var(--basic-blue);
  outline: none;
}

.password-input input:hover,
.password-input + input:focus {
  margin-top: 20px;
}

.button-login-options {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.input-form-button {
  align-items: center;
  margin-top: 20px;
  margin-left: 19px;
  padding: 12px 26px;

  font-weight: bold;
  font-size: 18px;
  color: var(--basic-white);

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 26px;
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.25);
  cursor: pointer;
}

.login-options {
  padding-top: 20px;
  padding-left: 20px;

  font-size: 13px;
  color: var(--basic-dark);
  text-decoration: underline;
}

.basket-button {
  width: 100px;
  height: 32px;
  padding-top: 2px;
  padding-left: 35px;

  font-weight: 500;
  font-size: 14px;

  background-image: url(../img/icons_logo/basket.svg);
  background-repeat: no-repeat;
  background-position: 16px 6px;
  border: none;
  cursor: pointer;
}

.basket-button-fill {
  min-width: 118px;
  height: 32px;
  padding-top: 3px;
  padding-left: 31px;

  font-weight: 500;
  font-size: 14px;
  color: var(--basic-dark);

  background-color: var(--basic-white);
  background-image: url(../img/icons_logo/basket-red.svg);
  background-repeat: no-repeat;
  background-position: 16px 6px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.basket-block {
  position: relative;
}

.basket-form {
  position: absolute;
  top: 37px;
  left: -411px;

  display: none;
  width: 504px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 21px;

  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark);

  background: var(--basic-beige);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.basket-block:hover .basket-form,
.basket-button-fill:focus + .basket-form {
  display: block;

  outline: none;
}

.basket-button:focus {
  outline: 1px solid rgb(255, 255, 255, 0.2);
}

.basket-form table {
  min-height: 119px;
  margin: 0;

  border-spacing: 0;

  border-bottom: 1px solid #cacac7;
}

.product {
  text-align: left;
}

.product {
  min-width: 20px;
  max-width: 279px;
  margin: 0;
  padding: 0;

  vertical-align: center;
}

.col-1 {
  width: 21px;
}

.col-2 {
  width: 53px;
}

.col-3 {
  width: 277px;
}

.col-4 {
  width: 50px;
}

.col-5 {
  width: 84px;
}

.col-6 {
  width: 77px;
}

.user-navigation-button {
  color: var(--basic-white);

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.checkout {
  display: grid;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.total-price {
  margin: 0;
  margin-top: 16px;
  margin-left: 62px;

  font-weight: bold;
  font-size: 15px;
  color: var(--basic-dark);
}

.button-checkout {
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 21px;
  padding: 12px 15px;

  font-weight: bold;
  font-size: 18px;
  vertical-align: top;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 26px;
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.25);
  cursor: pointer;
}

.header-schedule-phone {
  display: grid;
  justify-content: end;
  margin-top: 10px;
  margin-top: -3px;
}

.phone-top {
  margin-top: 8px;

  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.phone-top:focus {
  outline: 1px solid rgb(255, 255, 255, 0.2);
}

.schedule {
  margin: 0;
  margin-left: 18px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs {
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-top: -27px;
  padding: 0;

  list-style: none;
  font-weight: normal;
  font-size: 14px;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 23px;

  text-decoration: underline;
}

.breadcrumbs-item-other::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -19px;
  left: -15px;

  width: 6px;
  height: 6px;

  background-image: url(../img/icons_logo/breadcrumbs.svg);
}

.breadcrumbs li:last-child {
  margin-right: 0;

  text-decoration: none;
}

.filters-header {
  margin: 0;
  margin-top: 8px;
  padding: 0;

  font-weight: bold;
  font-size: 35px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 884px;
  margin: 0;
  margin-top: 33px;
  padding: 0;
}

.filters-block {
  margin-bottom: 30px;
}

.filters-item {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.sort-filter {
  display: block;
  flex-grow: 1;
  width: 196px;
  padding: 0;
}

.sort-label {
  margin-left: 16px;
}

.select-sort {
  position: relative;

  display: block;
  margin-top: 3px;
  padding: 8px 35px 10px 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-white);

  background: url(../img/icons_logo/icon-down-dir-white.svg) no-repeat right center rgba(255, 255, 255, 0.2);
  background-position: 171px 13px;
  border: none;
  border-radius: 20px;
  outline: none;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

.select-sort:hover,
.select-sort:active {
  color: var(--basic-dark);

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/icons_logo/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 170px 13px;
  cursor: pointer;
}

.sort-item {
  display: block;

  font-weight: 400;
  font-size: 14px;
  font-family: inherit;
  color: var(--basic-dark);

  border: none;
  outline: none;
  cursor: pointer;
}

.price-filter {
  display: block;
  flex-grow: 1;
  min-width: 218px;
  padding: 0;
}

.price-header {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  margin-left: 16px;
  padding: 0;
}

.range-controls {
  position: relative;

  display: block;
  height: 20px;
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(248, 247, 244, 0.5);
}

.bar {
  width: 60%;
  height: 2px;
  margin-left: 19px;

  background-color: var(--basic-beige);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover,
.toggle:focus {
  top: 6px;

  border: 10px solid;
  outline: none;
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}

.range-controls .toggle-min:hover,
.toggle-min:focus {
  left: 32px;
}

.range-controls .toggle-max:hover,
.toggle-max:focus {
  left: 130px;
}

.fat-content-filter {
  flex-grow: 2;
  min-width: 425px;
}

.fat-content-header {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  margin-left: 16px;
  padding: 0;
}

.fat-content-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 7px;
  padding-left: 5px;

  list-style: none;
  font-weight: 400;
  font-size: 16px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.fat-content-item {
  position: relative;

  display: flex;
  justify-content: start;
}

.fat-content-radio {
  position: relative;

  padding-left: 34px;
}

.fat-content-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;
  margin-right: 11px;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.fat-content-input:checked + .fat-content-radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;

  width: 8px;
  height: 8px;
  margin-right: 11px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.fat-content-radio:hover::before {
  border-color: rgba(255, 255, 255, 1);
}

.fat-content-input:checked + .fat-content-radio:hover::after {
  background: rgba(255, 255, 255, 1);
}

.fat-content-input:focus + .fat-content-radio::before {
  border-color: rgba(255, 255, 255, 1);
  outline: 1px solid var(--basic-white);
  outline-offset: 2px;
}

.fat-content-input:checked:focus + .fat-content-radio::after {
  background: rgba(255, 255, 255, 1);
}

.fat-content-input:disabled + .fat-content-radio::before {
  filter: opacity(40%);
}

.fat-content-input:checked:disabled + .fat-content-radio::after {
  filter: opacity(40%);
}

.filling-filter {
  flex-wrap: wrap;
  min-width: 711px;
}

.filling-filter-header {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  margin-left: 16px;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
}

.filling-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 668px;
  margin: 0;
  margin-top: 5px;
  padding-top: 7px;
  padding-right: 22px;
  padding-bottom: 7px;
  padding-left: 21px;

  list-style: none;
  font-weight: 400;
  font-size: 16px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filling-filter-item {
  position: relative;

  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: 26px;
  padding: 0;
}

.filling-filter-list li:nth-child(2) {
  margin-left: 24px;
}

.filling-filter-desc {
  position: relative;
}

.filling-filter-desc::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;

  width: 17px;
  height: 16px;

  border: solid 2px rgba(255, 255, 255, 1);
  border-radius: 3px;
  cursor: pointer;
  filter: opacity(80%);
}

.filling-filter-input:checked + .filling-filter-desc::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;

  width: 23px;
  height: 20px;

  background-image: url(../img/icons_logo/checkbox-on.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  filter: opacity(80%);
}

.filling-filter-desc:hover::before,
.filling-filter-input:checked + .filling-filter-desc:hover::before,
.filling-filter-input:focus + .filling-filter-desc::before,
.filling-filter-input:checked:focus + .filling-filter-desc::before {
  filter: opacity(100%);
}

.filling-filter-input:focus + .filling-filter-desc::before,
.filling-filter-input:checked:focus + .filling-filter-desc::before {
  outline: 1px solid var(--basic-white);
  outline-offset: 2px;
}

.filling-filter-input:disabled + .filling-filter-desc::before,
.filling-filter-input:checked:disabled + .filling-filter-desc::before {
  filter: opacity(40%);
}

.button-filter {
  display: block;
  box-sizing: border-box;
  min-width: 144px;
  height: 36px;
  margin: 0;
  margin-top: 27px;
  margin-right: 14px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  color: var(--basic-white);

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--basic-dark);

  background: var(--basic-white);
  outline: none;
}

.button-filter:active {
  color: var(--basic-dark);

  background: var(--basic-white);
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: inset 0 2px 1px #696969;
}

.slider-block {
  position: relative;

  margin-bottom: 40px;
  padding-top: 275px;

  text-align: center;
  color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider {
  display: none;
}

.slider-item {
  animation-name: opacity;
  animation-duration: 1s;
}

.slider-current {
  display: block;
}

.slider-title {
  width: 672px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: var(--basic-white);
}

.button-slider {
  display: inline-block;
  padding: 9px 40px 10px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  outline: none;
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.toggle-list {
  position: absolute;
  bottom: 24px;
  left: -1px;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  width: 80px;
}

.toggle-list button {
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 0;

  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.toggle-list button:hover,
.toggle-list button:focus {
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.toggle-list .current {
  background-color: var(--basic-white);
}

.gratis-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 33px;;
  padding: 0;

  list-style: none;
}

.gratis-item {
  position: relative;

  width: 560px;
  min-height: 102px;
  margin-bottom: 7px;
  padding-top: 25px;
  padding-bottom: 102px;

  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  border-radius: 16px;
}

.gratis-raspberry {
  background-color: #820b29;
  background-image: url(../img/bgraspberry.jpg);
}

.gratis-choco {
  background-color: #502f23;
  background-image: url(../img/bgchoco.jpg);
}

.gratis-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 16px 0 16px;

  font-size: 35px;
}

.gratis-desc {
  margin: 0;
  padding: 0 16px 0 16px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.gratis-link-block {
  position: absolute;
  right: 22px;
  bottom: 19px;
}

.gratis-link {
  display: inline-block;
  margin-bottom: 3px;
  padding: 13px 22px;

  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  color: white;

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.main-catalog {
  margin-top: 30px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100% + 26px);
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  z-index: 10;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 87px;
}

.catalog-item:hover {
  z-index: 100;
}

.catalog-image {
  background-size: cover;
  border-radius: 150px;
}

.catalog-item:hover .catalog-content::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -14px;
  z-index: -1;

  width: 100%;
  height: calc(100% + 128px);
  margin: 0;
  padding: 0 13px 0 13px;

  background-color: var(--basic-white);
  background-size: 293px;
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}

.button-quick-view {
  position: absolute;
  bottom: -109px;
  left: 0;

  display: none;
  margin: 0;
  margin: 6px 33px;
  padding: 0;
  padding: 12px 16px;

  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  color: white;

  background: linear-gradient(180deg, #f26843 0%, #e84d37 100%);
  border-radius: 50px;
  box-shadow: 0 1px 2px #ac1000;
  cursor: pointer;
}

.catalog-item:hover .button-quick-view {
  display: inline-block;

  vertical-align: top;
}

.button-quick-view:hover.button-quick-view,
.button-quick-view:focus.button-quick-view {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  outline: none;
  box-shadow: 0 2px 2px #ac1000;
}

.button-quick-view:active.button-quick-view {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.catalog-hits .catalog-item::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url(../img/icons_logo/hit.svg);
  background-repeat: no-repeat;
}

.catalog-item-title {
  position: absolute;
  top: 272px;
  right: 0;

  margin: 0;
  margin-top: 7px;
  padding: 0;

  text-align: center;
  text-decoration: underline;

  -moz-text-decoration-color: rgba(255, 255, 255, 0.2);
       text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-title:hover,
.catalog-item-title:active,
.catalog-content:focus {
  color: #ffbc9e;

  outline: none;

  -moz-text-decoration-color: rgba(255, 188, 158, 0.3);
       text-decoration-color: rgba(255, 188, 158, 0.3);
}

.catalog-item-price {
  position: absolute;
  top: 221px;

  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: var(--basic-white);
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price .price-kilograms {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: var(--basic-white);
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.info {
  margin-top: 4px;
}

.info-block {
  margin-bottom: 40px;
  padding-bottom: 22px;

  color: var(--basic-dark);

  background-color: var(--basic-beige);
  background-image: url(../img/wafer2.jpg);
  background-repeat: repeat;
  background-position: 50% 50%;
  border-radius: 16px;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.info-title {
  margin: 0;
  padding-top: 24px;
  padding-right: 131px;
  padding-left: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.info-item {
  position: relative;

  align-items: center;
  width: 485px;
  margin: 0;
  padding-top: 16px;
  padding-right: 6px;
  padding-bottom: 7px;
  padding-left: 75px;
}

.info-thermo {
  padding-bottom: 30px;
}

.info-ice-cream::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 20px;

  width: 49px;
  height: 49px;

  background-image: url(../img/icons_logo/ice-cream.svg);
  background-repeat: no-repeat;
}

.info-eco::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 20px;

  width: 49px;
  height: 49px;

  background-image: url(../img/icons_logo/eco.svg);
  background-repeat: no-repeat;
}

.info-cow::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 20px;

  width: 49px;
  height: 49px;

  background-image: url(../img/icons_logo/cow.svg);
  background-repeat: no-repeat;
}

.info-thermo::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 20px;

  width: 49px;
  height: 49px;

  background-image: url(../img/icons_logo/thermometer.svg);
  background-repeat: no-repeat;
}

.news-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news {
  width: 281px;
  padding-right: 259px;
  padding-left: 20px;

  color: var(--basic-dark);

  background-color: var(--basic-white);
  background-image: url(../img/news.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto 100%;
  border-radius: 16px;
}

.news-title {
  align-items: center;
  margin: 0;
  padding-top: 18px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.news-preview {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: underline;
}

.news-preview:hover,
.news-preview:active,
.news-preview:focus {
  color: var(--special-orange);

  outline: none;
}

.subscription {
  width: 550px;
  padding: 5px;

  background: url(../img/border-mailing.png) repeat top left;
  background-color: var(--basic-beige);
  border-radius: 16px;
}

.subscription-block {
  /* 
    padding-bottom: 34px; */
  height: 100%;

  background-color: var(--basic-beige);
  border-radius: 18px;
}

.subscription-block-form {
  padding-bottom: 34px;
}

.subscription-desc {
  align-items: center;
  margin: 0;
  padding-top: 24px;
  padding-right: 12px;
  padding-left: 21px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-gray);
}

.subscription-field {
  display: inline-block;

  vertical-align: baseline;
}

.subscription-field-input {
  display: inline-block;
  width: 342px;
  margin-top: 41px;
  margin-left: 22px;
  padding: 11px;
  padding-right: 13px;

  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  vertical-align: baseline;
  color: var(--basic-dark);

  background: var(--basic-white);
  border: 1px solid var(--basic-light-gray);
  border-radius: 6px;
}

.subscription-field-input:hover {
  margin-top: 40px;
  margin-left: 21px;
  padding-right: 12px;

  border: 2px solid var(--basic-light-gray);
}

.subscription-field-input:focus {
  margin-top: 41px;
  margin-left: 21px;
  padding-right: 12px;

  border: 2px solid var(--basic-blue);
  outline: none;
}

.subscription-field ::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}

.subscription-field ::-moz-placeholder {
  /* Firefox */
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}

.button-subscribe {
  display: inline-block;

  vertical-align: baseline;
}

.button-subscribe button {
  margin-left: 4px;
  padding: 13px 21px;

  font-size: 18px;
  font-family: inherit;
  color: white;

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.address-map {
  position: relative;

  width: 100%;
  min-height: 260px;
  margin-top: 41px;
  padding-top: 103px;
  padding-bottom: 65px;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.address {
  position: relative;
  top: -42px;
  left: calc(50% + 255px);

  width: 253px;
  margin: 0 15px -44px;
  padding: 16px 25px;
  padding-bottom: 29px;

  color: var(--basic-dark);

  background: #fefefe;
  border-radius: 16px;
}

.address-title {
  margin: 0;
  margin-top: 14px;
  margin-right: 95px;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.address-desc {
  align-items: center;
  margin-top: -1px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.address-tel {
  align-items: center;
  margin: 0;
  margin-top: 23px;
  margin-right: 80px;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.address-tel a:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.address-tel a {
  display: block;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.button-feedback {
  display: block;
  align-items: center;
  width: 254px;
  margin-top: 26px;
  padding: 11px 0 10px;

  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
  text-align: center;
  color: white;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.page-catalog {
  margin: 0;
  margin-top: 43px;
  margin-right: -13px;
  padding: 0;
}

.page-catalog-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.page-catalog-item {
  margin-right: 5px;
  padding: 3px 8px;

  text-align: center;

  border-radius: 50%;
}

.page-catalog-item:hover,
.page-catalog-item:focus {
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

.page-catalog-current {
  font-style: normal;
  color: var(--basic-dark);

  background: var(--basic-white);
}

.page-catalog-image-left {
  margin-right: 8px;
  padding: 2px 8px;
}

.page-catalog-image-right {
  margin-left: 5px;
  padding: 2px 8px;
}

.feedback-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;

  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  background: rgba(0, 0, 0, 0.3);
}

.feedback-form {
  position: fixed;
  top: 35%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 200;

  width: 477px;
  min-height: 441px;
  margin: 0 auto;

  background: var(--basic-beige);
  border-radius: 6px;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.feedback-form-header {
  margin: 0;
  margin-top: 18px;
  margin-left: 23px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  color: var(--basic-dark);
}

.feedback-block {
  margin: 0;
  padding: 0;

  border: none;
}

.feedback-field input,
textarea {
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-left: 24px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;

  font-weight: bold;
  font-size: 16px;
  color: var(--basic-dark);

  background-color: var(--basic-white);
  border: 1px solid var(--basic-light-gray);
  border-radius: 4px;
}

.feedback-field input {
  width: 267px;
}

.feedback-name input {
  margin-top: 23px;
}

.feedback-desc textarea {
  width: 428px;
  height: 154px;

  resize: none;
}

.feedback-form ::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}

.feedback-form ::-moz-placeholder {
  /* Firefox */
  font-weight: normal;
  font-size: 16px;
  color: #999999;
}

.feedback-email input:hover,
.feedback-desc textarea:hover {
  margin-top: 20px;
  margin-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;

  border: 2px solid var(--basic-light-gray);
}

.feedback-name input:hover {
  margin-top: 23px;
  margin-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;

  border: 2px solid var(--basic-light-gray);
}

.feedback-email input:focus,
.feedback-desc textarea:focus {
  margin-top: 20px;
  margin-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;

  border: 2px solid var(--basic-blue);
  outline: none;
}

.feedback-name input:focus {
  margin-top: 23px;
  margin-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;

  border: 2px solid var(--basic-blue);
  outline: none;
}

.feedback-form-button button {
  align-items: center;
  width: 140px;
  margin-top: 18px;
  margin-left: 312px;
  padding: 13px 21px;

  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
  color: white;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 13px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url(../img/icons_logo/cross-big.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal-close:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.footer-line {
  display: block;
  width: auto;
  height: 1px;
  margin-top: 30px;

  background-color: rgba(255, 255, 255, 0.2);
}

.socials {
  margin-right: 45px;
}

.socials-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 175px;
  margin: 0;
  margin-top: 35px;
  margin-left: -3px;
  padding: 0;

  list-style: none;
}

.socials-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.socials-item-link::before {
  content: "";

  width: 36px;
  height: 36px;

  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.8;
}

.socials-item-fb .socials-item-link::before {
  background-image: url("../img/icons_logo/fb.svg");
}

.socials-item-vk .socials-item-link::before {
  background-image: url("../img/icons_logo/vk.svg");
}

.socials-item-ig .socials-item-link::before {
  background-image: url("../img/icons_logo/instagram.svg");
}

.socials-item-tw .socials-item-link::before {
  background-image: url("../img/icons_logo/twitter.svg");
}

.socials-item-link:hover::before,
.socials-item-link:focus::before {
  outline: none;
  cursor: pointer;
  opacity: 1;
}

.socials-item-fb .socials-item-link:active::before {
  background-image: url("../img/icons_logo/fb.svg"), url("../img/icons_logo/round.svg");
  outline: none;
  cursor: pointer;
  opacity: 1;
}

.socials-item-vk .socials-item-link:active::before {
  background-image: url("../img/icons_logo/vk.svg"), url("../img/icons_logo/round.svg");
  outline: none;
  cursor: pointer;
  opacity: 1;
}

.socials-item-ig .socials-item-link:active::before {
  background-image: url("../img/icons_logo/instagram.svg"), url("../img/icons_logo/round.svg");
  outline: none;
  cursor: pointer;
  opacity: 1;
}

.socials-item-tw .socials-item-link:active::before {
  background-image: url("../img/icons_logo/twitter.svg"), url("../img/icons_logo/round.svg");
  outline: none;
  cursor: pointer;
  opacity: 1;
}

.socials-item-link:hover,
.socials-item-link:focus {
  outline: none;
}

.about-company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 327px;
  max-height: 37px;
  margin: 0;
  margin-top: 31px;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-decoration: underline;
}

.about-company-item {
  position: relative;

  padding-top: 1px;
  padding-right: 32px;
}

.about-company-list li:last-child {
  padding-right: 0;
  padding-left: 12px;
}

.like::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -23px;

  width: 15px;
  height: 13px;

  background-image: url(../img/icons_logo/heart.svg);
  background-repeat: no-repeat;
}

.like {
  font-weight: bold;
}

.development {
  position: relative;

  margin: 0;
  margin-top: 48px;
  padding: 0;

  font-weight: normal;
  font-size: 12px;
}

.development a::before {
  content: "";
  position: absolute;
  top: -29px;
  left: -1px;

  width: 108px;
  height: 39px;

  background-image: url(../img/icons_logo/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}

.development a {
  text-decoration: underline;
}

.development a:hover,
.development a:active,
.development-link:focus,
.about-company-item a:focus,
.about-company-item a:active,
.about-company-item a:hover,
.login-options a:hover,
.login-options a:active,
.login-options a:focus,
.breadcrumbs-item a:hover,
.breadcrumbs-item a:active,
.breadcrumbs-item a:focus {
  color: #ffbc9e;

  outline: none;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
